---
## Tasks for Opendkim Ansible role

- fail:
    msg: "bailing out, this role requires either 'dkim_admin_email' or `admin_email` to have an email address as value"
  when: dkim_admin_email is not defined

- fail:
    msg: "bailing out, this role requires 'dkim_domains' to be defined as a list of domains."
  when: 
  - dkim_domains is not defined
  - dkim_domains is not list

- import_tasks: opendkim.yml

- import_tasks: postfix.yml

- include_tasks: dns_records.yml
  loop: '{{ dkim_domains }}'
  loop_control:
    loop_var: dkim_domain

...
