AutoRestart             Yes
AutoRestartRate         10/1h
UMask                   {% if dkim_socket | regex_search("^local:.*") %}007{% else %}002{% endif +%}
Syslog                  yes
SyslogSuccess           Yes
LogWhy                  Yes
ReportAddress           {{ dkim_admin_email }}

Canonicalization        relaxed/simple

ExternalIgnoreList      refile:/etc/opendkim/TrustedHosts
InternalHosts           refile:/etc/opendkim/TrustedHosts
KeyTable                refile:/etc/opendkim/KeyTable
SigningTable            refile:/etc/opendkim/SigningTable

Mode                    sv
PidFile                 /var/run/opendkim/opendkim.pid
SignatureAlgorithm      rsa-sha256

UserID                  {{ dkim_user }}:{{ dkim_group }}

Socket                  {{ dkim_socket }}
